.idea
target
src/main/java/com/hightower/dailypractice/Day*
src/test/java/com/hightower/dailypractice/Day*
src/main/java/com/hightower/dailypractice/test
src/test/java/com/hightower/dailypractice/test
