package {pkg};

import java.util.*;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class ContainsDuplicate {

    @NotImplemented
    public boolean solution(int[] nums) {
        return false;
    }

}