package {pkg};

import java.util.*;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class DailyTemperatures {

    @NotImplemented
    public int[] solution(int[] temperatures) {
        return null;
    }

}