package {pkg};

import java.util.*;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class FractionToRecurringDecimal {

    @NotImplemented
    public String solution(int numerator, int denominator) {
        return "";
    }

}