package {pkg};

import java.util.*;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class KokoEatingBananas {

    @NotImplemented
    public int solution(int[] piles, int hours) {
        return -1;
    }

}