package {pkg};

import java.util.*;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class MedianOfTwoSortedArrays {

    @NotImplemented
    public double solution(int[] nums1, int[] nums2) {
        return -1.0;
    }

}