package {pkg};

import java.util.*;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class TrappingRainWater {

    @NotImplemented
    public int solution(int[] heights) {
        return -1;
    }

}