package {pkg};

import java.util.List;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class TwoSumIII {

    @NotImplemented
    public List<List<Integer>> solution(int[] nums) {
        return null;
    }

}