package {pkg};

import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class ValidSudoku {

    @NotImplemented
    public boolean solution(char[][] board) {
        return false;
    }

}