package {pkg};

import java.util.*;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class ValidPalindrome {

    @NotImplemented
    public boolean solution(String text) {
        return false;
    }

}