package {pkg};

import java.util.*;
import com.hightower.dailypractice.core.NotImplemented;

/**
{description}
 */
public class ValidParenthesis {

    @NotImplemented
    public boolean solution(String s) {
        return false;
    }

}